<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="company" content="FREEKICKNOW">
    <meta name="description" content="Freekicknow is a renowned site where latest news involving sports around the world is shared. Our News are confirmed by NewsNow and more of exclusives">
    <title>FREEKICKNOW</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
     <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/a13316a1e8.js" crossorigin="anonymous"></script>

    <!-- FAVICON -->
   <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
   <link rel="manifest" href="images/site.webmanifest">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>

<!-- header start -->
  <header class="header">
     <div class="container">
        <div class="header-main">
           <div class="logo">
              <a href="/">FREEKICKNOW</a>
           </div>
           <div class="open-nav-menu">
              <span></span>
           </div>
           <div class="menu-overlay">
           </div>
           <!-- navigation menu start -->
           <nav class="nav-menu">
             <div class="close-nav-menu">
                <img src="/images/close.svg" alt="close">
             </div>
             <ul class="menu">
                <li class="menu-item menu-item-has-children">
                   <a href="/" data-toggle="sub-menu">HOME</a>
                </li>
                <li class="menu-item menu-item-has-children">
                   <a href="/" data-toggle="sub-menu">SPORTS <i class="plus"></i></a>
                   <ul class="sub-menu">
                       <li class="menu-item"><a href="/viewLatestNews">LATEST NEWS</a></li>
                       <li class="menu-item"><a href="/sports/NigeriaFootball">NIGERIA FOOTBALL NEWS</a></li>
                       <li class="menu-item"><a href="/sports/IntFootball">INTERNATIONAL FOOTBALL NEWS</a></li>
                       <li class="menu-item"><a href="/sports/Athletics">ATHLETICS</a></li>
                       <li class="menu-item"><a href="/sports/Boxing">BOXING</a></li>
                       <li class="menu-item"><a href="/sports/Tennis">TENNIS</a></li>
                       <li class="menu-item"><a href="/sports/Wrestling">WRESTLING</a></li>
                       <li class="menu-item"><a href="/sports/Formula1">FORMULA1</a></li>
                       <li class="menu-item"><a href="/sports/Basketball">BASKETBALL</a></li>
                   </ul>
                </li>
                <li class="menu-item">
                   <a href="/contactUs">CONTACT US</a>
                </li>
                <li class="menu-item">
                   <a href="/admin/login">LOGIN</a>
                </li>
             </ul>
           </nav>
           <!-- navigation menu end -->
        </div>
     </div>
  </header>

  <!-- header end -->

 <!-- home section start -->
 <section class="home-section">
 </section>
 <!-- home section end -->
 